<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>accountservlet</display-name>
    <servlet-name>accountservlet</servlet-name>
    <servlet-class>account.accountservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountservlet</servlet-name>
    <url-pattern>/accountservlet</url-pattern>
  </servlet-mapping>
  <display-name>Accountproj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>checkservlet</display-name>
    <servlet-name>checkservlet</servlet-name>
    <servlet-class>check.checkservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkservlet</servlet-name>
    <url-pattern>/checkservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletedb</display-name>
    <servlet-name>deletedb</servlet-name>
    <servlet-class>delete.deletedb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletedb</servlet-name>
    <url-pattern>/deletedb</url-pattern>
  </servlet-mapping>
</web-app>